!! Background !!
URxvt*.depth: 32

!! Scrolling !!
URxvt*.scrollBar: false
URxvt*scrollTtyOutput: true
URxvt*scrollWithBuffer: true
URxvt*scrollTtyKeypress: true

!! Fonts !!
URxvt*font: xft:DejaVu Sans Mono:size=9:style=bold

!! Colors !!
URxvt*.background: [90]#000000
URxvt*foreground: White
XTerm*background: Black
XTerm*foreground: White

!! Cursor !!
URxvt*cursorBlink: true
URxvt*cursorUnderline: false

