<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://openbox.org/">
  <menu id="root-menu" label="Applications">
    <item label="File Manager" icon=""><action name="Execute"><execute><![CDATA[xdg-open .]]></execute></action></item>
    <item label="Terminal" icon=""><action name="Execute"><execute><![CDATA[xterm]]></execute></action></item>
    <item label="Web Browser" icon="/home/malfatti/.icons/AzenisRedIcons/scalable/apps/web-browser.png"><action name="Execute"><execute><![CDATA[xdg-open http://]]></execute></action></item>
    <item label="Run command" icon="/usr/share/icons/breeze-dark/apps/48/system-run.svg"><action name="Execute"><execute><![CDATA[gmrun]]></execute></action></item>
  <separator label="Categories"/>
  <menu id="Accessories" icon="/usr/share/icons/breeze-dark/categories/32/applications-utilities.svg" label="Accessories">
    <item label="compton" icon=""><action name="Execute"><execute><![CDATA[compton]]></execute></action></item>
    <item label="File Manager PCManFM" icon="/usr/share/icons/breeze-dark/apps/22/system-file-manager.svg"><action name="Execute"><execute><![CDATA[pcmanfm]]></execute></action></item>
    <item label="Frescobaldi" icon="/usr/share/icons/hicolor/scalable/apps/frescobaldi.svg"><action name="Execute"><execute><![CDATA[frescobaldi]]></execute></action></item>
    <item label="HP Device Manager" icon="/usr/share/hplip/data/images/128x128/hp_logo.png"><action name="Execute"><execute><![CDATA[hp-toolbox]]></execute></action></item>
    <item label="Kvantum Manager" icon="/usr/share/icons/hicolor/scalable/apps/kvantum.svg"><action name="Execute"><execute><![CDATA[kvantummanager]]></execute></action></item>
    <item label="ownCloud desktop sync client" icon="/usr/share/icons/hicolor/48x48/apps/owncloud.png"><action name="Execute"><execute><![CDATA[owncloud]]></execute></action></item>
    <item label="SpaceFM File Search" icon="/usr/share/icons/hicolor/48x48/apps/spacefm-find.png"><action name="Execute"><execute><![CDATA[spacefm --find-files]]></execute></action></item>
    <item label="SpaceFM" icon="/usr/share/icons/hicolor/48x48/apps/spacefm.png"><action name="Execute"><execute><![CDATA[spacefm]]></execute></action></item>
    <item label="SpeedCrunch" icon="/usr/share/pixmaps/speedcrunch.png"><action name="Execute"><execute><![CDATA[speedcrunch]]></execute></action></item>
    <item label="Xarchiver" icon="/usr/share/icons/hicolor/48x48/apps/xarchiver.png"><action name="Execute"><execute><![CDATA[xarchiver]]></execute></action></item>
  </menu>
  <menu id="Development" icon="/usr/share/icons/breeze-dark/categories/32/applications-development.svg" label="Development">
    <item label="FLUID" icon="/usr/share/icons/breeze-dark/apps/48/fluid.svg"><action name="Execute"><execute><![CDATA[fluid]]></execute></action></item>
    <item label="Geany" icon="/usr/share/icons/hicolor/48x48/apps/geany.png"><action name="Execute"><execute><![CDATA[geany]]></execute></action></item>
    <item label="GNU Emacs" icon="/usr/share/icons/breeze-dark/apps/48/emacs.svg"><action name="Execute"><execute><![CDATA[/usr/bin/emacs]]></execute></action></item>
    <item label="sandbox" icon="/usr/share/pixmaps/sandbox.svg"><action name="Execute"><execute><![CDATA[xterm -e 'sandbox']]></execute></action></item>
  </menu>
  <menu id="Education" icon="/usr/share/icons/breeze-dark/categories/32/applications-science.svg" label="Education">
    <item label="LibreOffice Math" icon="/usr/share/icons/breeze-dark/apps/48/libreoffice-math.svg"><action name="Execute"><execute><![CDATA[libreoffice --math]]></execute></action></item>
  </menu>
  <menu id="Games" icon="/usr/share/icons/breeze-dark/categories/32/applications-games.svg" label="Games">
    <item label="DeSmuME (Gtk)" icon="/usr/share/pixmaps/DeSmuME.xpm"><action name="Execute"><execute><![CDATA[desmume]]></execute></action></item>
    <item label="Dolphin Emulator" icon="/usr/share/pixmaps/dolphin-emu.svg"><action name="Execute"><execute><![CDATA[dolphin-emu]]></execute></action></item>
    <item label="M64Py" icon="/usr/share/pixmaps/m64py.png"><action name="Execute"><execute><![CDATA[m64py]]></execute></action></item>
    <item label="PCSX2" icon="/usr/share/pixmaps/PCSX2.xpm"><action name="Execute"><execute><![CDATA[env __GL_THREADED_OPTIMIZATIONS=1 PCSX2]]></execute></action></item>
  </menu>
  <menu id="Graphics" icon="/usr/share/icons/breeze-dark/categories/32/applications-graphics.svg" label="Graphics">
    <item label="Cura" icon="/opt/cura/share/cura/resources/images/cura-icon.png"><action name="Execute"><execute><![CDATA[/usr/bin/cura]]></execute></action></item>
    <item label="DjView4" icon="/usr/share/icons/hicolor/scalable/apps/djvulibre-djview4.svg"><action name="Execute"><execute><![CDATA[djview]]></execute></action></item>
    <item label="FontForge" icon="/usr/share/icons/breeze-dark/apps/48/fontforge.svg"><action name="Execute"><execute><![CDATA[fontforge]]></execute></action></item>
    <item label="GNU Image Manipulation Program" icon="/usr/share/icons/breeze-dark/apps/48/gimp.svg"><action name="Execute"><execute><![CDATA[gimp-2.8]]></execute></action></item>
    <item label="ImageJ" icon="/usr/share/pixmaps/imagej.png"><action name="Execute"><execute><![CDATA[imagej]]></execute></action></item>
    <item label="Inkscape" icon="/usr/share/icons/breeze-dark/apps/48/inkscape.svg"><action name="Execute"><execute><![CDATA[inkscape]]></execute></action></item>
    <item label="LibreOffice Draw" icon="/usr/share/icons/breeze-dark/apps/48/libreoffice-draw.svg"><action name="Execute"><execute><![CDATA[libreoffice --draw]]></execute></action></item>
    <item label="MuPDF" icon="/usr/share/pixmaps/mupdf.xpm"><action name="Execute"><execute><![CDATA[mupdf]]></execute></action></item>
    <item label="OpenSCAD" icon="/usr/share/pixmaps/openscad.png"><action name="Execute"><execute><![CDATA[openscad]]></execute></action></item>
    <item label="XDVI" icon="/usr/share/pixmaps/xdvik.xpm"><action name="Execute"><execute><![CDATA[xdvi]]></execute></action></item>
    <item label="XSane Scanner Tool" icon="/usr/share/pixmaps/xsane.xpm"><action name="Execute"><execute><![CDATA[xsane]]></execute></action></item>
  </menu>
  <menu id="Multimedia" icon="/usr/share/icons/breeze-dark/categories/32/applications-multimedia.svg" label="Multimedia">
    <item label="ardour5" icon="/usr/share/pixmaps/ardour5.png"><action name="Execute"><execute><![CDATA[ardour5]]></execute></action></item>
    <item label="Audacity" icon="/usr/share/icons/breeze-dark/apps/48/audacity.svg"><action name="Execute"><execute><![CDATA[env UBUNTU_MENUPROXY=0 audacity]]></execute></action></item>
    <item label="avidemux2" icon="/usr/share/pixmaps/avidemux-2.7.png"><action name="Execute"><execute><![CDATA[avidemux3_qt5]]></execute></action></item>
    <item label="Frescobaldi" icon="/usr/share/icons/hicolor/scalable/apps/frescobaldi.svg"><action name="Execute"><execute><![CDATA[frescobaldi]]></execute></action></item>
    <item label="JAMin" icon=""><action name="Execute"><execute><![CDATA[jamin]]></execute></action></item>
    <item label="Pitivi" icon="/usr/share/icons/hicolor/48x48/apps/pitivi.png"><action name="Execute"><execute><![CDATA[pitivi]]></execute></action></item>
    <item label="PureData" icon="/usr/share/pixmaps/pd.png"><action name="Execute"><execute><![CDATA[pd -rt]]></execute></action></item>
    <item label="QjackCtl" icon="/usr/share/icons/hicolor/32x32/apps/qjackctl.png"><action name="Execute"><execute><![CDATA[/usr/bin/qjackctl]]></execute></action></item>
    <item label="Rakarrack" icon="/usr/share/pixmaps/icono_rakarrack_128x128.png"><action name="Execute"><execute><![CDATA[rakarrack]]></execute></action></item>
    <item label="TiMidity++ MIDI sequencer" icon="/usr/share/pixmaps/timidity.xpm"><action name="Execute"><execute><![CDATA[timidity -ig]]></execute></action></item>
    <item label="tuxguitar" icon="/usr/share/pixmaps/tuxguitar.xpm"><action name="Execute"><execute><![CDATA[tuxguitar]]></execute></action></item>
  </menu>
  <menu id="Network" icon="/usr/share/icons/breeze-dark/apps/22/applications-internet.svg" label="Network">
    <item label="Aurora" icon="/usr/share/pixmaps/aurora.png"><action name="Execute"><execute><![CDATA[firefox]]></execute></action></item>
    <item label="Google Chrome" icon="/usr/share/icons/hicolor/48x48/apps/google-chrome.png"><action name="Execute"><execute><![CDATA[/usr/bin/google-chrome-stable]]></execute></action></item>
    <item label="Links" icon="/usr/share/pixmaps/links.png"><action name="Execute"><execute><![CDATA[links -g]]></execute></action></item>
    <item label="PuTTY" icon="/usr/share/icons/hicolor/48x48/apps/putty.png"><action name="Execute"><execute><![CDATA[putty]]></execute></action></item>
    <item label="qutebrowser" icon="/usr/share/icons/hicolor/scalable/apps/qutebrowser.svg"><action name="Execute"><execute><![CDATA[qutebrowser]]></execute></action></item>
    <item label="Spicy" icon="/usr/share/icons/breeze-dark/apps/22/utilities-terminal.svg"><action name="Execute"><execute><![CDATA[spicy]]></execute></action></item>
    <item label="Telegram Desktop" icon="/usr/share/icons/breeze-dark/apps/48/telegram.svg"><action name="Execute"><execute><![CDATA[telegram-desktop --]]></execute></action></item>
    <item label="WPA Supplicant Administration GUI" icon="/usr/share/pixmaps/wpa_gui.svg"><action name="Execute"><execute><![CDATA[wpa_gui]]></execute></action></item>
  </menu>
  <menu id="Office" icon="/usr/share/icons/breeze-dark/categories/32/applications-office.svg" label="Office">
    <item label="Gummi" icon="/usr/share/pixmaps/gummi.png"><action name="Execute"><execute><![CDATA[gummi]]></execute></action></item>
    <item label="LibreOffice Base" icon="/usr/share/icons/breeze-dark/apps/48/libreoffice-base.svg"><action name="Execute"><execute><![CDATA[libreoffice --base]]></execute></action></item>
    <item label="LibreOffice Calc" icon="/usr/share/icons/breeze-dark/apps/48/libreoffice-calc.svg"><action name="Execute"><execute><![CDATA[libreoffice --calc]]></execute></action></item>
    <item label="LibreOffice Draw" icon="/usr/share/icons/breeze-dark/apps/48/libreoffice-draw.svg"><action name="Execute"><execute><![CDATA[libreoffice --draw]]></execute></action></item>
    <item label="LibreOffice Impress" icon="/usr/share/icons/breeze-dark/apps/48/libreoffice-impress.svg"><action name="Execute"><execute><![CDATA[libreoffice --impress]]></execute></action></item>
    <item label="LibreOffice Math" icon="/usr/share/icons/breeze-dark/apps/48/libreoffice-math.svg"><action name="Execute"><execute><![CDATA[libreoffice --math]]></execute></action></item>
    <item label="LibreOffice Writer" icon="/usr/share/icons/breeze-dark/apps/48/libreoffice-writer.svg"><action name="Execute"><execute><![CDATA[libreoffice --writer]]></execute></action></item>
    <item label="LibreOffice" icon="/usr/share/icons/breeze-dark/apps/48/libreoffice-startcenter.svg"><action name="Execute"><execute><![CDATA[libreoffice]]></execute></action></item>
    <item label="qpdfview" icon="/usr/share/icons/hicolor/scalable/apps/qpdfview.svg"><action name="Execute"><execute><![CDATA[qpdfview --unique]]></execute></action></item>
    <item label="Texmaker" icon="/usr/share/pixmaps/texmaker.png"><action name="Execute"><execute><![CDATA[texmaker]]></execute></action></item>
    <item label="Zathura" icon=""><action name="Execute"><execute><![CDATA[zathura]]></execute></action></item>
  </menu>
  <menu id="Other" icon="/usr/share/icons/breeze-dark/categories/32/applications-other.svg" label="Other">
    <item label="Browse C: Drive" icon="/usr/share/icons/hicolor/48x48/places/folder-wine.png"><action name="Execute"><execute><![CDATA[xdg-open .wine/dosdevices/c:]]></execute></action></item>
    <item label="Configure Wine" icon="/usr/share/icons/hicolor/48x48/apps/wine-winecfg.png"><action name="Execute"><execute><![CDATA[winecfg]]></execute></action></item>
    <item label="Notepad" icon="/usr/share/icons/hicolor/48x48/apps/wine-notepad.png"><action name="Execute"><execute><![CDATA[notepad]]></execute></action></item>
    <item label="Uninstall Wine Software" icon="/usr/share/icons/hicolor/48x48/apps/wine-uninstaller.png"><action name="Execute"><execute><![CDATA[wine uninstaller]]></execute></action></item>
    <item label="Winetricks" icon="/usr/share/icons/hicolor/scalable/apps/wine-winetricks.svg"><action name="Execute"><execute><![CDATA[winetricks]]></execute></action></item>
  </menu>
  <menu id="Settings" icon="/home/malfatti/.icons/AzenisRedIcons/scalable/categories/applications-accessories.png" label="Settings">
    <item label="Adobe Flash Player" icon="/usr/share/pixmaps/flash-player-properties.png"><action name="Execute"><execute><![CDATA[flash-player-properties]]></execute></action></item>
    <item label="Desktop Preferences" icon="/usr/share/icons/breeze-dark/places/22/user-desktop.svg"><action name="Execute"><execute><![CDATA[pcmanfm --desktop-pref]]></execute></action></item>
    <item label="Java Control Panel for Oracle JRE 1.8" icon="/usr/share/icons/hicolor/48x48/apps/sun-jcontrol-oracle-jre-bin-1.8.png"><action name="Execute"><execute><![CDATA[/opt/oracle-jre-bin-1.8.0.172/bin/jcontrol]]></execute></action></item>
    <item label="Java Control Panel for Oracle JRE 9" icon="/usr/share/icons/hicolor/48x48/apps/sun-jcontrol-oracle-jre-bin-9.png"><action name="Execute"><execute><![CDATA[/opt/oracle-jre-bin-9.0.4/bin/jcontrol]]></execute></action></item>
    <item label="Kvantum Manager" icon="/usr/share/icons/hicolor/scalable/apps/kvantum.svg"><action name="Execute"><execute><![CDATA[kvantummanager]]></execute></action></item>
    <item label="NVIDIA X Server Settings" icon="/usr/share/pixmaps/nvidia-settings.png"><action name="Execute"><execute><![CDATA[/usr/bin/nvidia-settings]]></execute></action></item>
    <item label="Preferred Applications" icon="/usr/share/icons/breeze-dark/preferences/32/preferences-desktop.svg"><action name="Execute"><execute><![CDATA[libfm-pref-apps]]></execute></action></item>
    <item label="Qt Configuration Tool" icon="/usr/share/pixmaps/qtconfig.png"><action name="Execute"><execute><![CDATA[qtconfig]]></execute></action></item>
    <item label="Qt5 Settings" icon="/usr/share/icons/breeze-dark/preferences/32/preferences-desktop-theme.svg"><action name="Execute"><execute><![CDATA[qt5ct]]></execute></action></item>
  </menu>
  <menu id="System" icon="/usr/share/icons/breeze-dark/categories/32/applications-system.svg" label="System">
    <item label="File Manager PCManFM" icon="/usr/share/icons/breeze-dark/apps/22/system-file-manager.svg"><action name="Execute"><execute><![CDATA[pcmanfm]]></execute></action></item>
    <item label="Gentoo" icon="/usr/share/gentoo/icons/gentoo.png"><action name="Execute"><execute><![CDATA[gentoo]]></execute></action></item>
    <item label="Manage Printing" icon="/usr/share/icons/breeze-dark/devices/22/cups.svg"><action name="Execute"><execute><![CDATA[/usr/bin/xdg-open http://localhost:631/]]></execute></action></item>
    <item label="NVIDIA X Server Settings" icon="/usr/share/pixmaps/nvidia-settings.png"><action name="Execute"><execute><![CDATA[/usr/bin/nvidia-settings]]></execute></action></item>
    <item label="ranger" icon="/usr/share/icons/breeze-dark/apps/22/utilities-terminal.svg"><action name="Execute"><execute><![CDATA[xterm -e 'ranger']]></execute></action></item>
    <item label="rxvt-unicode" icon="/usr/share/icons/breeze-dark/apps/22/utilities-terminal.svg"><action name="Execute"><execute><![CDATA[urxvt]]></execute></action></item>
    <item label="SpaceFM" icon="/usr/share/icons/hicolor/48x48/apps/spacefm.png"><action name="Execute"><execute><![CDATA[spacefm]]></execute></action></item>
    <item label="Tint2" icon="/usr/share/icons/hicolor/scalable/apps/tint2.svg"><action name="Execute"><execute><![CDATA[tint2]]></execute></action></item>
    <item label="UXTerm" icon="/usr/share/pixmaps/xterm-color_48x48.xpm"><action name="Execute"><execute><![CDATA[uxterm]]></execute></action></item>
    <item label="XTerm" icon="/usr/share/pixmaps/xterm-color_48x48.xpm"><action name="Execute"><execute><![CDATA[xterm]]></execute></action></item>
  </menu>
  <separator/>
  <menu id="Advanced Settings" icon="" label="Advanced Settings">
    <item label="Conky RC" icon=""><action name="Execute"><execute><![CDATA[geany ~/.conkyrc]]></execute></action></item>
    <item label="Tint2 Panel" icon=""><action name="Execute"><execute><![CDATA[geany ~/.config/tint2/tint2rc]]></execute></action></item>
  <menu id="Obmenu-Generator" icon="" label="Obmenu-Generator">
    <item label="Menu Schema" icon=""><action name="Execute"><execute><![CDATA[geany ~/.config/obmenu-generator/schema.pl]]></execute></action></item>
    <item label="Menu Config" icon=""><action name="Execute"><execute><![CDATA[geany ~/.config/obmenu-generator/config.pl]]></execute></action></item>
  <separator/>
    <item label="Generate a pipe menu" icon=""><action name="Execute"><execute><![CDATA[obmenu-generator -p]]></execute></action></item>
    <item label="Generate a static menu" icon=""><action name="Execute"><execute><![CDATA[obmenu-generator -s -c]]></execute></action></item>
    <item label="Generate a pipe menu with icons" icon=""><action name="Execute"><execute><![CDATA[obmenu-generator -p -i]]></execute></action></item>
    <item label="Generate a static menu with icons" icon=""><action name="Execute"><execute><![CDATA[obmenu-generator -s -i -c]]></execute></action></item>
  <separator/>
    <item label="Refresh Icon Set" icon=""><action name="Execute"><execute><![CDATA[obmenu-generator -d]]></execute></action></item>
  </menu>
  <menu id="Openbox" icon="/usr/share/pixmaps/openbox.png" label="Openbox">
    <item label="Reconfigure Openbox" icon="/usr/share/pixmaps/openbox.png"><action name="Execute"><execute><![CDATA[openbox --reconfigure]]></execute></action></item>
    <item label="Openbox Autostart" icon=""><action name="Execute"><execute><![CDATA[geany ~/.config/openbox/autostart]]></execute></action></item>
    <item label="Openbox RC" icon="/usr/share/icons/breeze-dark/mimetypes/22/text-xml.svg"><action name="Execute"><execute><![CDATA[geany ~/.config/openbox/rc.xml]]></execute></action></item>
    <item label="Openbox Menu" icon="/usr/share/icons/breeze-dark/mimetypes/22/text-xml.svg"><action name="Execute"><execute><![CDATA[geany ~/.config/openbox/menu.xml]]></execute></action></item>
  </menu>
  </menu>
  <separator/>
    <item label="Lock" icon="/usr/share/icons/breeze-dark/actions/22/lock.svg"><action name="Execute"><execute><![CDATA[xscreensaver-command -lock]]></execute></action></item>
    <item label="Exit" icon=""><action name="Exit"/></item>
  </menu>
</openbox_menu>
